body {
  color: #fff;
   background-image: url("/uploads/bruga.jpg");
   background-color: #cccccc;
   background-size: cover;
}
h1.x {
	font-family: 'Open Sans';
	font-weight: 600;
  color: red;
	text-align: center;
	position: absolute;
	top: 5%;
	right: 0;
	left: 0;
}
h4 {
	font-family: 'Open Sans';
	font-weight: 300;
  color: red:
	text-align: center;
	position: absolute;
	top: 15%;
	right: 0;
	left: 0;
}

a.a {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 2%;
  right: 95%;
  left: 0;
}
a.b {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 2%;
  right: 75%;
  left: 0;
}
a.c {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 2%;
  right: 45%;
  left: 0;
}
p.d {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 0;
  right: 23%;
  left: 0;
}
form.a1 {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 100%;
  right: 50%;
  left: 0;
}
