body {
  color: #fff;
   background-color: green;
   background-size: cover;
}
h1.x {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

p.a {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 0;
  right: 95%;
  left: 0;
}
p.b {
  font-family: 'Open Sans';
  font-weight: 100;

  text-align: center;
  position: absolute;
  top: 0;
  right: 83%;
  left: 0;
}
